{% extends 'home/base.html' %}


{% block title_pagina %}
<title>Crear Familiar</title>
{% endblock title_pagina %}


{% block mi_contenido %}
<form action={% url 'crear_familiar' %} method="POST">
    {% csrf_token %}
    <table>
        {{formulario}}
    </table>
    <button>Crear</button>  <!-- Sirve para lo mismo que el submit-->
    {% comment %}
        <p>
            Nombre:
            <input type="text" name='nombre' placeholder="Nombre">    <!-- Información tipo texto en el formulario. placeholder es el texto que hay por defecto dentro del campo-->
        </p>
        
        <p>
            <label for="apellido">Apellido:</label>
            <input type="text" name='apellido' placeholder="Apellido">
        </p>

        {% endcomment %}
    {% comment "" %} <input type="button" value="Crear"> {% endcomment %}    <!--Crea un boton. Value es el contenido que tiene adentro ese botón-->
    {% comment %}    <input type="submit" value="Crear">     <!-- Sirve como un botón pero ahora sirve para hacer algo, manda a un lugar -->    {% endcomment %}
    
    
</form>
{% endblock mi_contenido %}


