{% extends 'home/base.html' %}


{% block title_pagina %}
<title>Perfil</title>
{% endblock title_pagina %}


{% block mi_contenido %}
<p>
    <h1>Información usuario</h1>
</p>
<p>
    <li>
        {% if request.user.extensionusuario.avatar %}
            <img src={{request.user.extensionusuario.avatar.url}}>
        {%else%}
        Imagen no cargada
        {% endif %}
    </li>
</p>

<p>
    <li>Nombre: {{request.user.first_name}}</li>
    <li>Apellido: {{request.user.last_name}}</li>
    <li>Email: {{request.user.email}}</li>
    <li>Descripcion: {{request.user.description}}</li>
    <li>Link: {{request.user.link}}</li>
</p>
    
<a href={% url 'editar_perfil'%}><button>Editar Perfil</button></a>
<a href={% url 'cambiar_contrasenia'%}><button>Cambiar Contraseña</button></a>


{% endblock mi_contenido %}