{% extends 'home/base.html'%}

{% block title_pagina %}
<title>Mascota</title>
{% endblock title_pagina %}

{% block mi_contenido %}
    <p>
        <li>Nombre de la raza: {{mascota.nombre}}</li> 
        <li>Tipo: {{mascota.tipo}}</li>
        <li>Edad media de vida: {{mascota.edad_media_de_vida}}</li>
        <li>Fecha de Creacion: {{mascota.fecha_de_creacion}}</li>
        <li>Características de la raza: {{mascota.descripcion | safe }}</li>
    </p>
    
    <p>
        <li>Imagen representativa de la raza:</li>
        {% if mascota.imagen %}
                <img src={{mascota.imagen.url}}>
        {%else%}
            Imagen no cargada
        {% endif %}
    </p>
    
    <p>
        <a class="navbar-brand" href={% url 'editar_mascota' mascota.id %}>Editar</a>
        <a class="navbar-brand" href={% url 'eliminar_mascota' mascota.id %}>Eliminar</a>

    </p>
    
    
    <a class="navbar-brand" href={% url 'crear_mascota' %}>Crear Nueva Mascota</a>

    

{% endblock mi_contenido %}